* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#cabecera {
    background-color: #EEEEEE;
    padding: 10px;
    color: #060608;
}
#menu {
    background-color: #4c4cb1;
    padding: 10px;
    margin-bottom: 5px;
}
a.item_menu {
    color: #eeeef3;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
a.item_menu:hover {
    background-color: #75abda;
}
#footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #4c4cb1; 
    color: white;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1000;
}
